{% extends oxygen_layout() %}

{% block meta_title %}Erreur | {{ 'salon.name'|trans({}, "ssn_therapass") }}{% endblock %}

{% block ssn_therapass_title %}
Une erreur est survenue
{% endblock %}

{% block ssn_therapass_content %}
<p>Une erreur est survenue.</p>
<p>L'équipe technique du site a été informée automatiquement pour corriger le problème dans les plus brefs délais.</p>
{% endblock %}
