[submodule "src/Oxygen/PassbookBundle"]
	path = src/Oxygen/PassbookBundle
	url = https://github.com/Soletic/OxygenPassbookBundle
[submodule "src/SSN/TherapassBundle"]
	path = src/SSN/TherapassBundle
	url = https://github.com/lolozere/SSNTherapassBundle
[submodule "src/Oxygen/FrameworkBundle"]
	path = src/Oxygen/FrameworkBundle
	url = https://github.com/Soletic/OxygenFrameworkBundle
[submodule "src/Oxygen/WeezeventBundle"]
	path = src/Oxygen/WeezeventBundle
	url = https://github.com/Soletic/OxygenWeezeventBundle
[submodule "src/Oxygen/DatagridBundle"]
	path = src/Oxygen/DatagridBundle
	url = https://github.com/Soletic/OxygenDatagridBundle
