[submodule "src/SSN/TherapassBundle"]
	path = src/SSN/TherapassBundle
	url = ./src/SSN/TherapassBundle
[submodule "src/Oxygen/FrameworkBundle"]
	path = src/Oxygen/FrameworkBundle
	url = ./src/Oxygen/FrameworkBundle
[submodule "src/Oxygen/WeezeventBundle"]
	path = src/Oxygen/WeezeventBundle
	url = ./src/Oxygen/WeezeventBundle
