parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    test_database_name:     ssn_resaapp_test
    test_database_user:     ~
    test_database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: ~
    mailer_auth_mode: ~
    mailer_port: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
